/*Index Page*/

.appdescription{
	margin-top: 20%;
}

.phoneapp{
	max-width: 100%;
}
.press{
	max-width: 100%;
}
.blogtitle{
	text-decoration: underline;
	text-align: center;
}
.blog1{
	max-width: 80%;
	margin: auto;
}
.blog2{
	max-width: 80%;
	margin: auto;
}
.blog3{
	max-width: 80%;
	margin: auto;
}

.Text1{
	max-width: 100%;
	margin: auto;
}
.Text2{
	max-width: 100%;
	margin: auto;
}
.Text3{
	max-width: 100%;
	margin: auto;
}
.view{
	background-image: url('https://cdn.shopify.com/s/files/1/0882/3478/files/Home_cc1dcc59-454f-4737-b86b-c14f1725e266_2000x.progressive.jpg?v=1533485072');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	height: 85vh;
}

/*About Us Page*/

.morningroutine{
	max-width:100vh;
}

.what-we-believe{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 10%;
}
.believe-text{
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Quicksand', sans-serif;
}

.Expressingtext{
	font-size: 36px;
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 10%;
	font-family: 'Quicksand', sans-serif;

}

.backcolor{
	background-color: #f7f0ea;
}
.howwegot{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 10%;

}
.gotthere-text{
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 15%;
	font-family: 'Quicksand', sans-serif;
}
.team{
	font-size: 36px;
	padding-top: 5%;
	padding-left: 45%;
	padding-right: 15%;
	padding-bottom: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 36px;
}
.ashaname{
	padding-top: 10%;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 10%;
	text-decoration: underline;
	font-weight: 900;
}

.riyaname{
	padding-top: 10%;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 10%;
	text-decoration: underline;
	font-weight: 900;
}

.brentname{
	padding-top: 10%;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 10%;
	text-decoration: underline;
	font-weight: 900;
}

.ashapic{
	max-width: 55%;
}

.riyapic{
	max-width: 55%;
}

.brentpic{
	max-width: 55%;
}

/*Home Page*/


.appdescription{
	margin-top: 20%;
}

.phoneapp{
	max-width: 100%;
}
.press{
	max-width: 100%;
}
.blogtitle{
	text-decoration: underline;
	text-align: center;
}
.blog1{
	max-width: 80%;
	margin: auto;
}
.blog2{
	max-width: 80%;
	margin: auto;
}
.blog3{
	max-width: 80%;
	margin: auto;
}

.Text1{
	max-width: 100%;
	margin: auto;
}
.Text2{
	max-width: 100%;
	margin: auto;
}
.Text3{
	max-width: 100%;
	margin: auto;
}
.view{
	background-image: url('https://cdn.shopify.com/s/files/1/0882/3478/files/Home_cc1dcc59-454f-4737-b86b-c14f1725e266_2000x.progressive.jpg?v=1533485072');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	height: 85vh;
}

/*Contact Us*/

.xwhy{
	max-width: 100%;

}

.contactus{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	padding-top: 20%;
	margin-bottom: 50px;
}

.backcontact{
	background-color: #f7f0ea;
	padding-left: 8%;
	padding-right: 8%;
}
.addressxwhy{
	padding-left: 10%;
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
}
.maparea{
	background-color: #f7f0ea;
	margin-top: 15px;
	margin-bottom: 15px;
}

.findustext{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	padding-left: 10%;
	padding-top: 5%;
	background-color: white;
}

.findusminitext{
	padding-top: 10%;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 10%;
	font-size: 28px;
}

.xwhylocation{
	max-width: 100%;
	max-height: 50%;
	padding-top: 2%;
	padding-bottom: 2%; 
}

.xwhymap{
	width: 100%;
	height: 100%;

}

.newsletterarea{
background: #f7f0ea;
}
.home-newsletter {
padding: 80px 0;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: black;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
/*border-color: transparent;
border-radius: 20px 0 0 20px;*/ }
.home-newsletter .single .form-control:focus {
box-shadow: none;
/*border-color: #243c4f;*/ }
.home-newsletter .single .btn {
min-height: 50px; /*
border-radius: 0 20px 20px 0;*/
background: #243c4f;
color: #fff;
}
.subscribetext{
	color: black;
}